<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="ControlIP" value="192.168.1.100" />
		<add key="PlcIp" value="192.168.1.101" />
		<add key="ImagePath" value="D:\KochImages" />
		<add key="ModelRootPath" value="D:\AI\Models" />
		<add key="Model_FrontPCode" value="Cam1\model_trt_fp16.vimosln" />
		<add key="Model_FrontFilmBreak" value="Cam1\film_break.onnx" />
		<add key="Model_BackHookDamage" value="Cam3\hook.onnx" />
		<add key="Model_EndFaceUpper" value="Cam5\upper.onnx" />
		<add key="Model_EndFaceLower" value="Cam5\lower.onnx" />
		<add key="Camera1SN" value="" />
		<add key="Camera2SN" value="" />
		<add key="Camera3SN" value="" />
		<add key="Camera4SN" value="" />
		<add key="Camera5SN" value="" />
		<add key="Camera6SN" value="" />
		<add key="Camera7SN" value="" />
		<add key="Camera8SN" value="" />
	</appSettings>
</configuration>